In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [76]:
data15=pd.read_csv('https://raw.githubusercontent.com/aditya-rbl/World-Happiness-Index/master/2015.csv')
data16=pd.read_csv('https://raw.githubusercontent.com/aditya-rbl/World-Happiness-Index/master/2016.csv')
data17=pd.read_csv('https://raw.githubusercontent.com/aditya-rbl/World-Happiness-Index/master/2017.csv')

In [35]:
data17=data17.merge(right=data15[['Country','Region']],on='Country',how='left')

In [42]:
data17=pd.concat([data17[data17.Region.notna()],data17[data17.Region.isna()].merge(
    right=data16[['Country','Region']],on='Country',how='left').drop(
    'Region_x',axis=1).rename(columns={'Region_y':'Region'})])

In [61]:
data17=data17.dropna(axis = 0, how ='any')

<h1>Task 1</h1>

## Question 1

### Countries with a happiness score of less than 5.0

<h1> For Data of 2015 </h1>

In [11]:
filtered_rows15=(data15['Happiness Score']<5)

In [57]:
data15.loc[filtered_rows15,['Country']].reset_index(drop=True)

                   Country
0               Mozambique
1                  Albania
2   Bosnia and Herzegovina
3                  Lesotho
4       Dominican Republic
..                     ...
60                  Rwanda
61                   Benin
62                   Syria
63                 Burundi
64                    Togo

[65 rows x 1 columns]

<h1> For Data of 2016 </h1>

In [5]:
filtered_rows16=(data16['Happiness Score']<5)

In [45]:
data16.loc[filtered_rows16,['Country']].reset_index(drop=True)

                    Country
0                Tajikistan
1                  Mongolia
2                      Laos
3                   Nigeria
4                  Honduras
5                      Iran
6                    Zambia
7                     Nepal
8   Palestinian Territories
9                   Albania
10               Bangladesh
11             Sierra Leone
12                     Iraq
13                  Namibia
14                 Cameroon
15                 Ethiopia
16             South Africa
17                Sri Lanka
18                    India
19                  Myanmar
20                    Egypt
21                  Armenia
22                    Kenya
23                  Ukraine
24                    Ghana
25         Congo (Kinshasa)
26                  Georgia
27      Congo (Brazzaville)
28                  Senegal
29                 Bulgaria
30               Mauritania
31                 Zimbabwe
32                   Malawi
33                    Sudan
34                    Gabon
35                     Mali
36                    Haiti
37                 Botswana
38                  Comoros
39              Ivory Coast
40                 Cambodia
41                   Angola
42                    Niger
43              South Sudan
44                     Chad
45             Burkina Faso
46                   Uganda
47                    Yemen
48               Madagascar
49                 Tanzania
50                  Liberia
51                   Guinea
52                   Rwanda
53                    Benin
54              Afghanistan
55                     Togo
56                    Syria
57                  Burundi

<h1> For Data of 2017 </h1>

In [7]:
filtered_rows17=(data17['Happiness.Score']<5)

In [59]:
data17.loc[filtered_rows17,['Country',]].reset_index(drop=True)

                     Country
0                      Nepal
1                   Mongolia
2               South Africa
3                    Tunisia
4    Palestinian Territories
5                      Egypt
6                   Bulgaria
7               Sierra Leone
8                   Cameroon
9                       Iran
10                   Albania
11                Bangladesh
12                     Kenya
13                Mozambique
14                   Myanmar
15                   Senegal
16                    Zambia
17                      Iraq
18                     Gabon
19                  Ethiopia
20                 Sri Lanka
21                   Armenia
22                     India
23                Mauritania
24       Congo (Brazzaville)
25                   Georgia
26          Congo (Kinshasa)
27                      Mali
28               Ivory Coast
29                  Cambodia
30                     Sudan
31                     Ghana
32                   Ukraine
33                    Uganda
34              Burkina Faso
35                     Niger
36                    Malawi
37                      Chad
38                  Zimbabwe
39                   Lesotho
40                    Angola
41               Afghanistan
42                  Botswana
43                     Benin
44                Madagascar
45                     Haiti
46                     Yemen
47                   Liberia
48                    Guinea
49                      Togo
50                    Rwanda
51                     Syria
52                  Tanzania
53                   Burundi
54  Central African Republic

## Question 2

### Which is the unhappiest country in Sub-Saharan Africa?

<h1> For Data of 2015 </h1>

In [13]:
data15.loc[data15.Region=='Sub-Saharan Africa',['Country','Region','Happiness Score']].sort_values(by='Happiness Score').iloc[0]

Country                          Togo
Region             Sub-Saharan Africa
Happiness Score                 2.839
Name: 157, dtype: object

<h1> For Data of 2016 </h1>

In [23]:
data16.loc[data16.Region=='Sub-Saharan Africa',['Country','Region','Happiness Score']].sort_values(by='Happiness Score').iloc[0]

Country                       Burundi
Region             Sub-Saharan Africa
Happiness Score                 2.905
Name: 156, dtype: object

<h1> For Data of 2017 </h1>

In [65]:
data17.loc[data17.Region=='Sub-Saharan Africa',['Country','Region','Happiness.Score']].sort_values(by='Happiness.Score').iloc[0]

Country            Central African Republic
Region                   Sub-Saharan Africa
Happiness.Score                       2.693
Name: 154, dtype: object

## Question 3

###  Compare the Unhappiest and happiest countries in each region

<h1> For Data of 2015 </h1>

In [26]:
main_df15=pd.DataFrame()
for region in data15.Region.unique():
    df15=data15.loc[data15.Region==region].sort_values(by='Happiness Score')
    main_df15=main_df15.append(df15.loc[(df15['Happiness Score']==df15['Happiness Score'].max()) | (df15['Happiness Score']==df15['Happiness Score'].min()),:],sort=False,ignore_index=True)

In [67]:
happy15=pd.concat([main_df15.loc[main_df15.Region==i].assign(index=['unhappy','happy']) for i in main_df15.Region.unique()]).pivot_table(
                        index='Region',values='Country',columns='index',aggfunc='first').reset_index()

In [68]:
happy15

index                           Region           happy        unhappy
0            Australia and New Zealand     New Zealand      Australia
1           Central and Eastern Europe  Czech Republic       Bulgaria
2                         Eastern Asia          Taiwan       Mongolia
3          Latin America and Caribbean      Costa Rica          Haiti
4      Middle East and Northern Africa          Israel          Syria
5                        North America          Canada  United States
6                    Southeastern Asia       Singapore       Cambodia
7                        Southern Asia          Bhutan    Afghanistan
8                   Sub-Saharan Africa       Mauritius           Togo
9                       Western Europe     Switzerland         Greece

<h1> For Data of 2016 </h1>

In [28]:
main_df16=pd.DataFrame()
for region in data16.Region.unique():
    df16=data16.loc[data16.Region==region].sort_values(by='Happiness Score')
    main_df16=main_df16.append(df16.loc[(df16['Happiness Score']==df16['Happiness Score'].max()) | (df16['Happiness Score']==df16['Happiness Score'].min()),:],sort=False,ignore_index=True)

In [66]:
happy16=pd.concat([main_df16.loc[main_df16.Region==i].assign(index=['unhappy','happy']) for i in main_df16.Region.unique()]).pivot_table(
                        index='Region',values='Country',columns='index',aggfunc='first').reset_index()

In [69]:
happy16

index                           Region           happy        unhappy
0            Australia and New Zealand     New Zealand      Australia
1           Central and Eastern Europe  Czech Republic       Bulgaria
2                         Eastern Asia          Taiwan       Mongolia
3          Latin America and Caribbean      Costa Rica          Haiti
4      Middle East and Northern Africa          Israel          Syria
5                        North America          Canada  United States
6                    Southeastern Asia       Singapore       Cambodia
7                        Southern Asia          Bhutan    Afghanistan
8                   Sub-Saharan Africa       Mauritius        Burundi
9                       Western Europe         Denmark         Greece

<h1> For Data of 2017 </h1>

In [70]:
main_df17=pd.DataFrame()
for region in data17.Region.unique():
    df17=data17.loc[data17.Region==region].sort_values(by='Happiness.Score')
    main_df17=main_df17.append(df17.loc[(df17['Happiness.Score']==df17['Happiness.Score'].max()) | (df17['Happiness.Score']==df17['Happiness.Score'].min()),:],sort=False,ignore_index=True)

In [71]:
happy17=pd.concat([main_df17.loc[main_df17.Region==i].assign(index=['unhappy','happy']) for i in main_df17.Region.unique()]).pivot_table(
                        index='Region',values='Country',columns='index',aggfunc='first').reset_index()

In [72]:
happy17

index,Region,happy,unhappy
0,Australia and New Zealand,New Zealand,Australia
1,Central and Eastern Europe,Czech Republic,Ukraine
2,Eastern Asia,Japan,Mongolia
3,Latin America and Caribbean,Costa Rica,Haiti
4,Middle East and Northern Africa,Israel,Syria
5,North America,Canada,United States
6,Southeastern Asia,Singapore,Cambodia
7,Southern Asia,Pakistan,Afghanistan
8,Sub-Saharan Africa,Mauritius,Central African Republic
9,Western Europe,Norway,Portugal

## Question 4

###  Countries that became unhappy between 2015 to 2017

In [30]:
all_data=pd.concat([data15[['Country','Happiness Score']].assign(year=2015),data16[['Country','Happiness Score']].assign(year=2016),
                    data17[['Country','Happiness.Score']].rename(columns={'Happiness.Score':'Happiness Score'}).assign(year=2017)])

In [81]:
unhappy=all_data.pivot_table(index='Country',values='Happiness Score',columns='year').reset_index()

In [82]:
unhappy.loc[unhappy[2017]<unhappy[2015],'Country']

1         Albania
3          Angola
6       Australia
7         Austria
10     Bangladesh
          ...
161     Venezuela
162       Vietnam
163         Yemen
164        Zambia
165      Zimbabwe
Name: Country, Length: 75, dtype: object

## Question 5

###  Find the country whose happiness decreased by the most amount

In [21]:
temp=unhappy.assign(diff=unhappy[2015]-unhappy[2017])
temp.sort_values(by='diff',ascending=False).iloc[0]['Country']

'Venezuela'